<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/categoria.css" />
    <link rel="stylesheet" href="/css/styleguide.css" />
    <link rel="stylesheet" href="/css/globals.css" />
    <title><%= category %> - ApuntARQ</title>
  </head>
  <body>
    <%- include('header'); -%>
    <div class="container">
      <h1 class="titulo"><%= category %></h1>
      <div class="archivos">
        <% archivos.forEach(archivo => { %>
        <div class="archivo">
          <div
            class="archivo-icono"
            onclick="openFileModal('/uploads/<%= archivo.directorio %>')"
          ></div>
          <div
            class="archivo-nombre"
            onclick="openFileModal('/uploads/<%= archivo.directorio %>')"
          >
            <%= archivo.nombre %>
          </div>
          <div>
            <a
              class="archivo-descargar"
              href="/uploads/<%= archivo.directorio %>"
              download
              >⇩</a
            >
            <a
              class="archivo-favorito"
              href="#"
              onclick="marcarComoFavorito('<%= archivo.id %>')"
              >☆</a
            >
            <span id="popup-copiarenlace">¡Marcado en favoritos!</span>
            <a
              class="archivo-compartir"
              href="#"
              onclick="copiarEnlace('/uploads/<%= archivo.directorio %>')"
              >➦</a
            >
            <span id="popup-copiarenlace">¡Enlace copiado!</span>
            <% if(user.tipo_usuario == 1){-%>
            <form
              id="delete-form-<%=archivo.id%>"
              action="/delete"
              method="POST"
              style="display: none"
            >
              <input type="hidden" name="id" value="<%= archivo.id %>" />
              <input
                type="hidden"
                name="directorio"
                value="<%= archivo.directorio %>"
              />
              <input
                type="hidden"
                name="categoria"
                value="<%= archivo.categoria %>"
              />
              <input
                type="hidden"
                name="nombre"
                value="<%= archivo.nombre %>"
              />
            </form>
            <a
              href="#"
              onclick="document.getElementById('delete-form-<%= archivo.id %>').submit(); return false;"
              >✘</a
            >
            <%}%>
          </div>
        </div>
        <% }) %>
      </div>
      <button class="volver" onclick="history.back()">← Volver</button>
    </div>

    <!-- Botón de diálogo -->
    <div class="dialog-button" onclick="toggleDialogOptions()">💬</div>

    <!-- Opciones de diálogo -->
    <div class="dialog-options" id="dialogOptions" style="display: none">
      <button onclick="showComments()">Ver Comentarios</button>
      <button onclick="writeComment()">Escribir Comentario</button>
    </div>

    <!-- Ventana para ver comentarios -->
    <div class="popup" id="viewCommentsPopup" style="display: none">
      <div class="popup-content">
        <span class="close" onclick="closePopup('viewCommentsPopup')"
          >&times;</span
        >
        <h2>Comentarios</h2>
        <div id="commentsList"></div>
      </div>
    </div>

    <!-- Ventana para escribir comentarios -->
    <div class="popup" id="writeCommentPopup" style="display: none">
      <div class="popup-content">
        <span class="close" onclick="closePopup('writeCommentPopup')"
          >&times;</span
        >
        <h2>Escribir Comentario</h2>
        <form id="commentForm" action="/comentario" method="POST">
          <input type="hidden" name="id_usuario" value="<%= user.id %>" />
          <input type="hidden" name="id_ramo" value="<%= ramo.id %>" />
          <input type="hidden" name="categoria" value="<%= category %>" />
          <textarea name="comentario" required></textarea>
          <button type="submit">Enviar</button>
        </form>
      </div>
    </div>

    <!-- Modal para mostrar el archivo -->
    <div id="fileModal" class="file-modal">
      <div class="file-modal-content">
        <span class="close" onclick="closeFileModal()">&times;</span>
        <iframe id="fileViewer" src="" frameborder="0"></iframe>
      </div>
    </div>

    <!-- Popup -->
    <div class="popup" id="popup">
      <div class="popup-content">
        <span class="close" onclick="closePopup()">&times;</span>
        <div class="popup-header">
          <img src="/img/exclamation-triangle-fill.svg" alt="Attention Icon" />
          <h2>ATENCIÓN</h2>
        </div>
        <p id="popup-message"></p>
      </div>
    </div>

    <script>
      function toggleDialogOptions() {
        var dialogOptions = document.getElementById("dialogOptions");
        dialogOptions.style.display =
          dialogOptions.style.display === "none" ? "block" : "none";
      }

      function showComments() {
        var popup = document.getElementById("viewCommentsPopup");
        fetch("/comentarios?ramo=<%= ramo.id %>&categoria=<%= category %>")
          .then((response) => response.json())
          .then((data) => {
            var commentsList = document.getElementById("commentsList");
            commentsList.innerHTML = "";
            data.forEach((comment) => {
              var commentDiv = document.createElement("div");
              commentDiv.innerHTML = `<p><strong>${comment.nombre}</strong>: ${
                comment.comentario
              } <br><small>${new Date(
                comment.fecha
              ).toLocaleDateString()}</small></p>`;
              commentsList.appendChild(commentDiv);
            });
          });
        popup.style.display = "flex";
      }

      function writeComment() {
        var popup = document.getElementById("writeCommentPopup");
        popup.style.display = "flex";
      }

      function closePopup(popupId) {
        document.getElementById(popupId).style.display = "none";
      }

      function openFileModal(fileUrl) {
        var modal = document.getElementById("fileModal");
        var fileViewer = document.getElementById("fileViewer");
        fileViewer.src = fileUrl;
        modal.style.display = "block";
      }

      function closeFileModal() {
        var modal = document.getElementById("fileModal");
        var fileViewer = document.getElementById("fileViewer");
        fileViewer.src = "";
        modal.style.display = "none";
      }

      function copiarEnlace(enlaceArchivo) {
        // Crear un elemento de entrada (input) oculto
        const input = document.createElement("input");
        input.style.position = "fixed";
        input.style.opacity = 0;
        input.value = window.location.origin + enlaceArchivo;
        document.body.appendChild(input);

        // Seleccionar y copiar el contenido del campo de entrada
        input.select();
        input.setSelectionRange(0, 99999); // Para dispositivos móviles

        // Copiar el contenido al portapapeles
        document.execCommand("copy");

        // Eliminar el campo de entrada del DOM
        document.body.removeChild(input);

        // Obtener el botón de compartir clicado
        const button = event.target;
        const message = button.nextElementSibling; // Obtener el mensaje de retroalimentación

        // Mostrar el mensaje de retroalimentación al usuario debajo del botón de compartir
        message.style.display = "block"; // Mostrar el mensaje

        // Calcular la posición del mensaje debajo del botón
        const rect = button.getBoundingClientRect();
        message.style.position = "absolute";
        message.style.top = rect.bottom + "px";
        message.style.left = rect.left + "px";

        setTimeout(() => {
          message.style.display = "none"; // Ocultar el mensaje después de un tiempo
        }, 2000); // 2000 milisegundos (2 segundos) de visibilidad
      }

      function marcarComoFavorito(idArchivo) {
        fetch(`/favorito?id_archivo=${idArchivo}`, {
          method: "POST",
        })
          .then((response) => {
            if (response.ok) {
              // Procesar la respuesta según sea necesario
              window.location.href = `/ramo/${ramo}?status=success`;
            } else {
              throw new Error("Error al marcar como favorito");
            }
          })
          .catch((error) => {
            console.error("Error:", error);
            window.location.href = `/ramo/${ramo}?status=error`;
          });

        const button = event.target;
        const message = button.nextElementSibling; // Obtener el mensaje de retroalimentación

        // Mostrar el mensaje de retroalimentación al usuario debajo del botón de compartir
        message.style.display = "block"; // Mostrar el mensaje

        // Calcular la posición del mensaje debajo del botón
        const rect = button.getBoundingClientRect();
        message.style.position = "absolute";
        message.style.top = rect.bottom + "px";
        message.style.left = rect.left + "px";

        setTimeout(() => {
          message.style.display = "none"; // Ocultar el mensaje después de un tiempo
        }, 2000); // 2000 milisegundos (2 segundos) de visibilidad
      }
    </script>
  </body>
</html>
