<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/ramo.css" />
    <link rel="stylesheet" href="/css/styleguide.css" />
    <link rel="stylesheet" href="/css/globals.css" />
    <title>Ramo - ApuntARQ</title>
  </head>
  <body>
    <%- include('header'); -%>
    <div class="container">
      <div class="left-section">
        <h1 class="titulo">RAMOS DE <%= yearText %></h1>
        <div class="separator"></div>
        <h2 class="nombreRamo"><%= ramo.nombre %></h2>
        <div class="separator"></div>
        <p class="descripcion"><%= ramo.descripcion %></p>
        <div class="semestre-buttons">
          <% if(ramo.semestre == 1){ %>
          <button class="semestre active">1er semestre</button>
          <button class="semestre">2do semestre</button>
          <%} else{ %>
          <button class="semestre">1er semestre</button>
          <button class="semestre active">2do semestre</button>
          <% } %>
        </div>
        <button class="volver" onclick="history.back()">← Volver</button>
      </div>
      <div class="right-section">
        <div class="resource">
          <button
            class="resource-button"
            onclick="toggleCategory('Apuntes', this)"
          >
            <span class="icon">☰</span>
            Apuntes
            <span class="date"></span>
            <span class="dropdown">▼</span>
          </button>
          <div class="category-content" id="Apuntes">
            <div class="see-all" id="seeAllApuntes" style="display: none">
              <a href="/ramo/<%= ramo.id %>/apuntes">Ver todo</a>
            </div>
            <% archivos.Apuntes.forEach(archivo => { %>
            <div class="archivo">
              <div
                class="archivo-icono"
                onclick="openFileModal('/uploads/<%= archivo.directorio %>')"
              ></div>

              <div
                class="archivo-nombre"
                onclick="openFileModal('/uploads/<%= archivo.directorio %>')"
              >
                <%= archivo.nombre %>
              </div>
              <div>
                <a
                  class="archivo-descargar"
                  href="/uploads/<%= archivo.directorio %>"
                  download
                  >⇩</a
                >
                <a
                  class="archivo-favorito"
                  href="#"
                  onclick="marcarComoFavorito('<%= archivo.id %>')"
                  >☆</a
                >
                <span id="popup-marcarfav">¡Marcado en favoritos!</span>
                <a
                  class="archivo-compartir"
                  href="#"
                  onclick="copiarEnlace('/uploads/<%= archivo.directorio %>')"
                  >➦</a
                >
                <span id="popup-copiarenlace">¡Enlace copiado!</span>
                <% if(user.tipo_usuario == 1){-%>
                <form
                  id="delete-form-<%=archivo.id%>"
                  action="/delete"
                  method="POST"
                  style="display: none"
                >
                  <input type="hidden" name="id" value="<%= archivo.id %>" />
                  <input
                    type="hidden"
                    name="directorio"
                    value="<%= archivo.directorio %>"
                  />
                  <input
                    type="hidden"
                    name="categoria"
                    value="<%= archivo.categoria %>"
                  />
                  <input
                    type="hidden"
                    name="nombre"
                    value="<%= archivo.nombre %>"
                  />
                </form>
                <a
                  href="#"
                  onclick="document.getElementById('delete-form-<%= archivo.id %>').submit(); return false;"
                  >✘</a
                >
                <%}%>
              </div>
            </div>
            <% }) %>
          </div>
        </div>
        <div class="resource">
          <button
            class="resource-button"
            onclick="toggleCategory('Trabajos', this)"
          >
            <span class="icon">☰</span>
            Trabajos
            <span class="date"></span>
            <span class="dropdown">▼</span>
          </button>
          <div class="category-content" id="Trabajos">
            <div class="see-all" id="seeAllTrabajos" style="display: none">
              <a href="/ramo/<%= ramo.id %>/trabajos">Ver todo</a>
            </div>
            <% archivos.Trabajos.forEach(archivo => { %>
            <div class="archivo">
              <div
                class="archivo-icono"
                onclick="openFileModal('/uploads/<%= archivo.directorio %>')"
              ></div>
              <div
                class="archivo-nombre"
                onclick="openFileModal('/uploads/<%= archivo.directorio %>')"
              >
                <%= archivo.nombre %>
              </div>
              <div>
                <a
                  class="archivo-descargar"
                  href="/uploads/<%= archivo.directorio %>"
                  download
                  >⇩</a
                >
                <a
                  class="archivo-favorito"
                  href="#"
                  onclick="marcarComoFavorito('<%= archivo.id %>')"
                  >☆</a
                >
                <span id="popup-marcarfav">¡Marcado en favoritos!</span>
                <a
                  class="archivo-compartir"
                  href="#"
                  onclick="copiarEnlace('/uploads/<%= archivo.directorio %>')"
                  >➦</a
                >
                <span id="popup-copiarenlace">¡Enlace copiado!</span>
                <% if(user.tipo_usuario == 1){-%>
                <form
                  id="delete-form-<%=archivo.id%>"
                  action="/delete"
                  method="POST"
                  style="display: none"
                >
                  <input type="hidden" name="id" value="<%= archivo.id %>" />
                  <input
                    type="hidden"
                    name="directorio"
                    value="<%= archivo.directorio %>"
                  />
                  <input
                    type="hidden"
                    name="categoria"
                    value="<%= archivo.categoria %>"
                  />
                  <input
                    type="hidden"
                    name="nombre"
                    value="<%= archivo.nombre %>"
                  />
                </form>
                <a
                  href="#"
                  onclick="document.getElementById('delete-form-<%= archivo.id %>').submit(); return false;"
                  >✘</a
                >
                <%}%>
              </div>
            </div>
            <% }) %>
          </div>
        </div>
        <div class="resource">
          <button
            class="resource-button"
            onclick="toggleCategory('PDFs', this)"
          >
            <span class="icon">☰</span>
            PDFs
            <span class="date"></span>
            <span class="dropdown">▼</span>
          </button>
          <div class="category-content" id="PDFs">
            <div class="see-all" id="seeAllPDFs" style="display: none">
              <a href="/ramo/<%= ramo.id %>/pdfs">Ver todo</a>
            </div>
            <% archivos.PDFs.forEach(archivo => { %>
            <div class="archivo">
              <div
                class="archivo-icono"
                onclick="openFileModal('/uploads/<%= archivo.directorio %>')"
              ></div>
              <div
                class="archivo-nombre"
                onclick="openFileModal('/uploads/<%= archivo.directorio %>')"
              >
                <%= archivo.nombre %>
              </div>
              <div>
                <a
                  class="archivo-descargar"
                  href="/uploads/<%= archivo.directorio %>"
                  download
                  >⇩</a
                >
                <a
                  class="archivo-favorito"
                  href="#"
                  onclick="marcarComoFavorito('<%= archivo.id %>')"
                  >☆</a
                >
                <span id="popup-marcarfav">¡Marcado en favoritos!</span>
                <a
                  class="archivo-compartir"
                  href="#"
                  onclick="copiarEnlace('/uploads/<%= archivo.directorio %>')"
                  >➦</a
                >
                <span id="popup-copiarenlace">¡Enlace copiado!</span>
                <% if(user.tipo_usuario == 1){-%>
                <form
                  id="delete-form-<%=archivo.id%>"
                  action="/delete"
                  method="POST"
                  style="display: none"
                >
                  <input type="hidden" name="id" value="<%= archivo.id %>" />
                  <input
                    type="hidden"
                    name="directorio"
                    value="<%= archivo.directorio %>"
                  />
                  <input
                    type="hidden"
                    name="categoria"
                    value="<%= archivo.categoria %>"
                  />
                  <input
                    type="hidden"
                    name="nombre"
                    value="<%= archivo.nombre %>"
                  />
                </form>
                <a
                  href="#"
                  onclick="document.getElementById('delete-form-<%= archivo.id %>').submit(); return false;"
                  >✘</a
                >
                <%}%>
              </div>
            </div>
            <% }) %>
          </div>
        </div>
        <div class="resource">
          <button
            class="resource-button"
            onclick="toggleCategory('Planos', this)"
          >
            <span class="icon">☰</span>
            Planos/Croquis
            <span class="date"></span>
            <span class="dropdown">▼</span>
          </button>
          <div class="category-content" id="Planos">
            <div class="see-all" id="seeAllPlanos" style="display: none">
              <a href="/ramo/<%= ramo.id %>/planos">Ver todo</a>
            </div>
            <% archivos.Planos.forEach(archivo => { %>
            <div class="archivo">
              <div
                class="archivo-icono"
                onclick="openFileModal('/uploads/<%= archivo.directorio %>')"
              ></div>
              <div
                class="archivo-nombre"
                onclick="openFileModal('/uploads/<%= archivo.directorio %>')"
              >
                <%= archivo.nombre %>
              </div>
              <div>
                <a
                  class="archivo-descargar"
                  href="/uploads/<%= archivo.directorio %>"
                  download
                  >⇩</a
                >
                <a
                  class="archivo-favorito"
                  href="#"
                  onclick="marcarComoFavorito('<%= archivo.id %>')"
                  >☆</a
                >
                <span id="popup-marcarfav">¡Marcado en favoritos!</span>
                <a
                  class="archivo-compartir"
                  href="#"
                  onclick="copiarEnlace('/uploads/<%= archivo.directorio %>')"
                  >➦</a
                >
                <span id="popup-copiarenlace">¡Enlace copiado!</span>
                <% if(user.tipo_usuario == 1){-%>
                <form
                  id="delete-form-<%=archivo.id%>"
                  action="/delete"
                  method="POST"
                  style="display: none"
                >
                  <input type="hidden" name="id" value="<%= archivo.id %>" />
                  <input
                    type="hidden"
                    name="directorio"
                    value="<%= archivo.directorio %>"
                  />
                  <input
                    type="hidden"
                    name="categoria"
                    value="<%= archivo.categoria %>"
                  />
                  <input
                    type="hidden"
                    name="nombre"
                    value="<%= archivo.nombre %>"
                  />
                </form>
                <a
                  href="#"
                  onclick="document.getElementById('delete-form-<%= archivo.id %>').submit(); return false;"
                  >✘</a
                >
                <%}%>
              </div>
            </div>
            <% }) %>
          </div>
        </div>
        <div class="bottom-buttons">
          <button class="subir" onclick="openModal()">+ Subir</button>
        </div>
      </div>
    </div>
    <div class="ayuda">
      <img class="simb-pregunta" src="/img/question-lg-1.svg" />
      <img class="simb-chat" src="/img/chat-2.svg" />
    </div>

    <!-- Modal -->
    <div id="uploadModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <form
          id="uploadForm"
          action="/upload"
          method="POST"
          enctype="multipart/form-data"
        >
          <input type="hidden" name="ramo" value="<%= ramo.id %>" />
          <input type="hidden" name="year" value="<%= ramo.year %>" />
          <input type="hidden" name="semestre" value="<%= ramo.semestre %>" />
          <div class="form-group">
            <label for="file">Archivo</label>
            <input type="file" id="file" name="file" required />
          </div>
          <div class="form-group">
            <label for="categoria">Categoría</label>
            <select id="categoria" name="categoria">
              <option value="Apuntes">Apuntes</option>
              <option value="Trabajos">Trabajos</option>
              <option value="PDFs">PDFs</option>
              <option value="Planos">Planos/Croquis</option>
            </select>
          </div>
          <div class="form-group">
            <label for="profesor">Profesor</label>
            <input type="text" id="profesor" name="profesor" />
          </div>
          <div class="form-actions">
            <button type="button" class="cancel" onclick="closeModal()">
              Cancelar
            </button>
            <button type="submit" class="accept">Aceptar</button>
          </div>
        </form>
      </div>
    </div>

    <!-- Popup -->
    <div class="popup" id="popup">
      <div class="popup-content">
        <span class="close" onclick="closePopup()">&times;</span>
        <div class="popup-header">
          <img src="/img/exclamation-triangle-fill.svg" alt="Attention Icon" />
          <h2>ATENCIÓN</h2>
        </div>
        <p id="popup-message"></p>
      </div>
    </div>

    <!-- Modal para mostrar el archivo -->
    <div id="fileModal" class="file-modal">
      <div class="file-modal-content">
        <span class="close" onclick="closeFileModal()">&times;</span>
        <iframe id="fileViewer" src="" frameborder="0"></iframe>
      </div>
    </div>

    <!-- Contenedor del archivo -->

    <script>
      function openModal() {
        document.getElementById("uploadModal").style.display = "block";
      }

      function closeModal() {
        document.getElementById("uploadModal").style.display = "none";
      }

      function toggleCategory(category, button) {
        var content = document.getElementById(category);
        var seeAll = document.getElementById("seeAll" + category);
        var dropdown = button.querySelector(".dropdown");
        if (content.style.display === "none" || content.style.display === "") {
          content.style.display = "flex";
          seeAll.style.display = "block";
          dropdown.innerHTML = "▲";
        } else {
          content.style.display = "none";
          seeAll.style.display = "none";
          dropdown.innerHTML = "▼";
        }
      }

      document
        .getElementById("uploadForm")
        .addEventListener("submit", function (event) {
          const fileInput = document.getElementById("file");
          const file = fileInput.files[0];
          if (file.size > 1024 * 1024 * 1024) {
            // 1 GB
            alert(
              "El archivo es demasiado grande. El tamaño máximo permitido es de 1 GB."
            );
            event.preventDefault();
          }
        });

      document.addEventListener("DOMContentLoaded", function () {
        ["Apuntes", "Trabajos", "PDFs", "Planos"].forEach(function (category) {
          document.getElementById(category).style.display = "none";
          document.getElementById("seeAll" + category).style.display = "none";
        });
      });

      function openFileModal(fileUrl) {
        var modal = document.getElementById("fileModal");
        var fileViewer = document.getElementById("fileViewer");
        fileViewer.src = fileUrl;
        modal.style.display = "block";
      }

      function closeFileModal() {
        var modal = document.getElementById("fileModal");
        var fileViewer = document.getElementById("fileViewer");
        fileViewer.src = "";
        modal.style.display = "none";
      }

      window.onload = function () {
        const status = "<%= status %>"; // Obtén la variable de estado del servidor
        if (status) {
          const popup = document.getElementById("popup");
          const message = document.getElementById("popup-message");
          if (status === "success") {
            message.innerText = "Archivo subido con éxito.";
          } else if (status === "error") {
            message.innerText =
              "Error al subir el archivo. Asegúrese de que el archivo sea menor de 1 GB.";
          }
          popup.style.display = "flex";
        }
      };

      function closePopup() {
        document.getElementById("popup").style.display = "none";
      }

      function marcarComoFavorito(idArchivo) {
        fetch(`/favorito?id_archivo=${idArchivo}`, {
          method: "POST",
        })
          .then((response) => {
            if (response.ok) {
              // Procesar la respuesta según sea necesario
              window.location.href = `/ramo/${ramo}?status=success`;
            } else {
              throw new Error("Error al marcar como favorito");
            }
          })
          .catch((error) => {
            console.error("Error:", error);
            window.location.href = `/ramo/${ramo}?status=error`;
          });

        const button = event.target;
        const message = button.nextElementSibling; // Obtener el mensaje de retroalimentación

        // Mostrar el mensaje de retroalimentación al usuario debajo del botón de compartir
        message.style.display = "block"; // Mostrar el mensaje

        // Calcular la posición del mensaje debajo del botón
        const rect = button.getBoundingClientRect();
        message.style.position = "absolute";
        message.style.top = rect.bottom + "px";
        message.style.left = rect.left + "px";

        setTimeout(() => {
          message.style.display = "none"; // Ocultar el mensaje después de un tiempo
        }, 2000); // 2000 milisegundos (2 segundos) de visibilidad
      }

      function copiarEnlace(enlaceArchivo) {
        // Crear un elemento de entrada (input) oculto
        const input = document.createElement("input");
        input.style.position = "fixed";
        input.style.opacity = 0;
        input.value = window.location.origin + enlaceArchivo;
        document.body.appendChild(input);

        // Seleccionar y copiar el contenido del campo de entrada
        input.select();
        input.setSelectionRange(0, 99999); // Para dispositivos móviles

        // Copiar el contenido al portapapeles
        document.execCommand("copy");

        // Eliminar el campo de entrada del DOM
        document.body.removeChild(input);

        // Obtener el botón de compartir clicado
        const button = event.target;
        const message = button.nextElementSibling; // Obtener el mensaje de retroalimentación

        // Mostrar el mensaje de retroalimentación al usuario debajo del botón de compartir
        message.style.display = "block"; // Mostrar el mensaje

        // Calcular la posición del mensaje debajo del botón
        const rect = button.getBoundingClientRect();
        message.style.position = "absolute";
        message.style.top = rect.bottom + "px";
        message.style.left = rect.left + "px";

        setTimeout(() => {
          message.style.display = "none"; // Ocultar el mensaje después de un tiempo
        }, 2000); // 2000 milisegundos (2 segundos) de visibilidad
      }
    </script>
  </body>
</html>
